<div class="main-container">
  <div class="form-container">
    <div class="title">
      <h1>
        Formulario de <span>{{ registerForm }}</span>
      </h1>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="col-6 flex flex-column gap-2">
          <label for="id">ID</label>
          <input id="id" pInputText formControlName="id" type="text" />
          <div class="validate" *ngIf="id?.invalid && id?.touched">
            <small *ngIf="id?.errors?.['required']">El ID es requerido.</small>
            <small *ngIf="id?.errors?.['minlength']">El ID debe tener al menos 3 caracteres.</small>
            <small *ngIf="id?.errors?.['maxlength']">El ID no debe exceder los 10 caracteres.</small>
            <small *ngIf="id?.errors?.['existingId']">Este ID ya existe.</small>
          </div>
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="name">Name</label>
          <input id="name" pInputText formControlName="name" type="text" />
          <div class="validate" *ngIf="name?.invalid && name?.touched">
            <small *ngIf="name?.errors?.['required']">El Nombre es requerido.</small>
            <small *ngIf="name?.errors?.['minlength']">El Nombre debe tener al menos 4 caracteres.</small>
            <small *ngIf="name?.errors?.['maxlength']">El Nombre no debe exceder los 10 caracteres.</small>
          </div>
        </div>
        <div class="col-12 flex flex-column gap-2">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea rows="1" formControlName="description"></textarea>
          <div class="validate" *ngIf="description?.invalid && description?.touched">
            <small *ngIf="description?.errors?.['required']">La Descripcion es requerida.</small>
            <small *ngIf="description?.errors?.['minlength']">La Descripcion debe tener al menos 10 caracteres.</small>
            <small *ngIf="description?.errors?.['maxlength']">La Descripcion no debe exceder los 200 caracteres.</small>
          </div>
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="releaseDate">Fecha de liberación</label>
          <p-calendar class="yellow-btn w-100" styleClass="w-100" id="releaseDate" [showIcon]="true"
            formControlName="releaseDate" />
          <div class="validate" *ngIf="releaseDate?.invalid && releaseDate?.touched">
            <small *ngIf="releaseDate?.errors?.['required']">La Fecha de Liberacion es requerida.</small>
            <small *ngIf="releaseDate?.errors?.['dateIsNotFuture']">La Fecha de Liberacion debe ser igual o mayor a la fecha actual.</small>
          </div>
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="reviewDate">Fecha de Reestructuración</label>
          <p-calendar class="yellow-btn" styleClass="w-100" id="reviewDate" [showIcon]="true"
            formControlName="reviewDate" />
          <div class="validate" *ngIf="reviewDate?.invalid && reviewDate?.touched">
            <small *ngIf="reviewDate?.errors?.['required']">La Fecha de Revision es requerida.</small>
            <small *ngIf="reviewDate?.errors?.['notOneYearAfter']">La Fecha de Revision debe ser exactamente un año posterior a la fecha de liberacion.</small>
          </div>
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="logo">Logo</label>
          <input #logoSelector id="logo" class="hide" type="file" (change)="handleFileInput($event)" />
          <p-button label="Seleccionar el Archivo" (click)="logoSelector.click()" class="yellow-btn" />
          <div class="validate" *ngIf="logo?.invalid && logo?.touched">
            <small *ngIf="logo?.errors?.['required']">El Logo es requerida.</small>
          </div>
        </div>
        <div class="col-6 flex flex-column justify-content-end gap-2">
          <img [src]="imageUrl" *ngIf="imageUrl" style="width: 60px; height: auto" />
        </div>
        <div class="flex justify-content-between w-100 form-footer">
          <p-button severity="secondary" [routerLink]="['/products/']">Cancelar</p-button>
          <p-button type="button" severity="secondary" (click)="resetForm()">Limpiar</p-button>
          <p-button class="yellow-btn" type="submit">Guardar</p-button>
        </div>
      </div>
    </form>
  </div>
</div>
