<div class="main-container">
  <div class="form-container">
    <div class="title">
      <h1>Formulario de <span>{{registerForm}}</span></h1>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="col-6 flex flex-column gap-2">
          <label for="name">Name</label>
          <input id="name" pInputText formControlName="name" type="text"/>
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea rows="1" formControlName="description"></textarea>
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="date_release">Fecha de liberación</label>
          <p-calendar class="yellow-btn w-100" styleClass="w-100" id="date_release" [showIcon]="true" formControlName="date_release" />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="date_revision">Fecha de Reestructuración</label>
          <p-calendar class="yellow-btn" styleClass="w-100"  id="date_revision" [showIcon]="true"  formControlName="date_revision" />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label for="logo">Logo</label>
          <input id="logo" class="p-inputtext p-component p-element ng-pristine ng-invalid ng-touched" type="file" (change)="handleFileInput($event)" />
        </div>
        <!-- <div class="col-6 gap-2">
          <p-fileUpload
            mode="basic"
            name="logo"
            class="yellow-btn"
            chooseIcon="pi pi-upload"
            url="http://localhost:4002/assets"
            accept="image/*"
            (change)="handleFileInput($event)"
            [auto]="true"
            chooseLabel="Subir logo" />
          </div> -->
          <div class="col-6 flex flex-column justify-content-end gap-2">
            <img [src]="imageUrl" *ngIf="imageUrl" style="width: 60px; height: auto;">
          </div>
        <div class="flex justify-content-between w-100 form-footer">
          <p-button severity="secondary"  [routerLink]="['/products/']">Cancelar</p-button>
          <p-button type="button" severity="secondary" (click)="resetForm()">Limpiar</p-button>
          <p-button class="yellow-btn" type="submit">Guardar</p-button>
        </div>
      </div>
    </form>

  </div>
</div>

