.header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.form-footer {
  border-top: 1px solid #c4c4c4;
  padding: 20px;
  margin-top: 20px;
}

.form-container {
  max-width: 700px;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  height: fit-content;
}
